<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phishing Detection</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <img src="/static/logo.jpeg" alt="Phishing Detection Logo">
        <h1>Phishing Detection System</h1>
    </header>
    <main>
        <div class="container">
            <form method="POST" action="{{url_for('get_url')}}">
                <div class="input-group input-group-lg" style="width: 100%; margin-top: 50px;">
                    <input type="text" placeholder="Enter the URL here" class="form-control" name="url" value="{{request.form.url}}" required="required"/>
                    <button type="submit" class="btn btn-primary btn-lg mb-2 ml-2">Check</button>
                </div>
            </form>
            <div id="result" class="hidden">
                <h2>Result</h2>
                <p id="resultMessage"></p>
            </div>
        </div>
    </main>
    <footer>
        <p>&copy; 2023 Phishing Detection System</p>
    </footer>
</body>
</html>


